@page "/"

@using ISPAdressCheckerStatusDashboard.Services.Interfaces;
@using ISPAdressCheckerStatusDashboard.Components;
@using System.Threading

@inject ITimerService timerService;

@implements IDisposable

<PageTitle>ISPAddressChecker - Dashboard</PageTitle>

<div class="main-layout">
    <HealthIndicator UptimeDays="@timerService?.UptimeDays" UptimeClockString="@timerService?.UptimeClockString" />

    <div class="row">
        <div class="interactive-row-element col">
            <div class="align-content-center">
                Your ISP Address

            </div>
        </div>
        <RequestEmail ItemHeader="Heartbeat E-mail:" ButtonText="Send (8x)" EmailType="SendEmailTypeEnum.HeartBeatEmail" />
        <RequestEmail ItemHeader="ISP Address changed E-mail" ButtonText="Send (7x)" EmailType="SendEmailTypeEnum.ISPAddressChanged" />

    </div>

    <div class="stats-section">
        <div class="justify-content-center">
            STATS XYZ
        </div>
    </div>

    <div class="log-section">
        <div class="justify-content-center">
            LOG
        </div>
    </div>

</div>

@code {
    private bool timersStarted;
    private Timer? aTimer;

    private int successRate;

    protected override async Task OnInitializedAsync()
    {

        await StartTimers();

        await base.OnInitializedAsync();
    }

    private async Task StartTimers()
    {
        await timerService.StartTimers();
        aTimer = new Timer(async (state) => await Tick(), null, 0, 1000);
    }

    private async Task Tick()
    {
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        timerService.ClearStatusUpdateTimer();
        aTimer?.Dispose();
    }
}