@page "/"
@using System.Threading
@using ISPAdressCheckerStatusDashboard.Services.Interfaces;

@inject ITimerService timerService;

@implements IDisposable

<div class="test-class">
    <p>@timerService?.UptimeString</p>
    <i class="fas fa-check"></i>
</div>
<div class="test-class">
</div>
@code {
    bool timersStarted;
    Timer? aTimer;

    protected override async Task OnInitializedAsync()
    {
        await StartTimers();

        await base.OnInitializedAsync();
    }

    private async Task StartTimers()
    {
        await timerService.StartTimers();
        aTimer = new Timer(async (state) => await Tick(), null, 0, 1000);
    }

    private async Task Tick()
    {
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        aTimer?.Dispose();
    }
}