@page "/"

@using ISPAdressCheckerStatusDashboard.Services.Interfaces;
@using ISPAdressCheckerStatusDashboard.Components;
@using System.Threading

@inject ITimerService timerService;
@inject IStatusService statusService;

@implements IDisposable

<PageTitle>ISPAddressChecker - Dashboard</PageTitle>

<div class="main-layout">
    <HealthIndicator UptimeDays="@timerService?.UptimeDays" UptimeClockString="@timerService?.UptimeClockString" />

    <div class="row">
        <RequestISPAddress HostISPAddress="@statusService?.CurrentStatus?.CurrentISPAddress" />
        <RequestEmail ItemHeader="Heartbeat E-mail:" EmailType="SendEmailTypeEnum._1" />
        <RequestEmail ItemHeader="ISP Address changed E-mail" EmailType="SendEmailTypeEnum._2" />
    </div>

    <div class="stats-section">
        <div class="justify-content-center">
            STATS XYZ
        </div>
    </div>

    <div class="log-section">
        <div class="justify-content-center">
            LOG
        </div>
    </div>

</div>

@code {
    private bool timersStarted;
    private Timer? aTimer;

    private bool timersStrted;

    private int successRate;

    protected override async Task OnInitializedAsync()
    {
        statusService.OnChange += OnStatusChange;

        await base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await StartTimers();
            await statusService.GetStatus();
        }

        await base.OnAfterRenderAsync(firstRender);
    }
    private async Task StartTimers()
    {
        if (!timersStrted)
        {
            timersStrted = true;
            await timerService.StartTimers();
        }
        aTimer = new Timer(async (state) => await Tick(), null, 0, 1000);
    }

    private async Task Tick()
    {
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        statusService.OnChange -= StateHasChanged;
        timerService.ClearStatusUpdateTimer();
        aTimer?.Dispose();
    }
    private async void OnStatusChange()
    {
        await InvokeAsync(StateHasChanged);
    }
}