@page "/"

@using ISPAdressCheckerStatusDashboard.Services.Interfaces;
@using ISPAdressCheckerStatusDashboard.Components;
@using System.Threading

@inject ITimerService timerService;

@implements IDisposable

<PageTitle>ISPAddressChecker - Dashboard</PageTitle>

<div class="main-layout">
    <HealthIndicator UptimeDays="@timerService?.UptimeDays" UptimeClockString="@timerService?.UptimeClockString" />    
</div>



@*
<div class="test-class">
    <p></p>
    <i class="fas fa-check"></i>
</div>
<div class="test-class1">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et
</div>
<div class="test-class2">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et
</div>
<div class="test-class3">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et
</div>*@



@code {
    private bool timersStarted;
    private Timer? aTimer;

    private int successRate;

    protected override async Task OnInitializedAsync()
    {

        await StartTimers();

        await base.OnInitializedAsync();
    }

    private async Task StartTimers()
    {
        await timerService.StartTimers();
        aTimer = new Timer(async (state) => await Tick(), null, 0, 1000);
    }

    private async Task Tick()
    {
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        timerService.ClearStatusUpdateTimer();
        aTimer?.Dispose();
    }
}