.container {
  /*    background-color:purple !important;
      border: solid 2px dotted green !important;*/
  max-width: 2500px !important;
}

body {
  background-color: #ecfcff;
  margin: 0;
}

.main-layout {
  height: 100%;
  width: 100%;
}

.interactive-row-element {
  padding: 50px;
  text-align: center;
  /*    background-color:yellow;
      border:solid 1px red;*/
}

.stats-section {
  padding: 50px;
  background-color: red;
  border: solid 1px red;
}

.log-section {
  padding: 50px;
  background-color: green;
  border: solid 1px red;
  max-height: 25% !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex-basis: 33.33%;
  box-sizing: border-box;
  padding-top: 150px;
}

@media (max-width: 768px) {
  .col {
    padding-top: 20px;
    flex-basis: 100%;
  }
}
.main-layout .health-indicator {
  margin: 0 auto;
  background-color: #10232B;
  color: #ecfcff;
  border-end-end-radius: 30px;
  border-end-start-radius: 30px;
  text-align: center;
  width: 500px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 10px;
}
.main-layout .health-indicator .uptime-indicator {
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.main-layout .health-indicator .uptime-icon {
  flex: 1;
  text-align: center;
  font-size: xx-large;
  color: #547884;
}
.main-layout .health-indicator .days-counter {
  flex: 1;
  text-align: left;
  font-size: 25px;
  color: #547884;
}
.main-layout .health-indicator .clock {
  flex: 1;
  text-align: left;
  font-size: 25px;
  color: #547884;
  font-family: "Segoe UI";
}
.main-layout .health-indicator .protection-level-indicator {
  margin: 0;
  padding: 0;
}
.main-layout .health-indicator .isp-address {
  font-size: 20px;
  color: #547884;
  font-family: "Segoe UI";
}

.linear-gauge {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 2px;
  padding-top: 2px;
}

.gauge-bar {
  left: 0;
  transform: translateY(-50%);
  height: 30px;
  border-radius: 2px;
  transition: width 0.5s ease;
}

.gauge-label {
  position: absolute;
  top: 70%;
  left: 0;
  transform: translateY(-50%);
  padding-left: 5px;
  font-size: 11px;
  text-align: left;
  color: #547884;
}

/*
$primary-font: $font-seg-ui;
$secondary-font: $tahoma;
$tertiary-font: $yu-gothic-ui;*/
input[type=text] {
  color: #10232B;
}
input[type=text]:focus {
  border-radius: 5px;
  outline: 1px solid #10232B !important;
  /* or */
  box-shadow: 0 0 1px 1px #10232B !important;
}

.input-field {
  border-radius: 5px;
  border: solid 1px #547884;
}

::-webkit-input-placeholder {
  color: #547884;
}

:-moz-placeholder {
  color: #547884;
}

::-moz-placeholder {
  color: #547884;
}

:-ms-input-placeholder {
  color: #547884;
}

.interactive-row-element .input-text-header-header {
  font-family: Tahoma;
  color: #547884;
  font-size: 12px;
  margin-left: 3px;
  margin-bottom: 2px;
}
.interactive-row-element .input-text-header {
  font-family: Tahoma;
  color: #547884;
  font-size: 15px;
  margin-left: 3px;
  margin-bottom: 5px;
  font-weight: 600;
}

.email-adress-submit {
  margin-top: 10px !important;
}

button {
  color: #547884;
  background-color: transparent;
  border: solid 1px #547884;
  border-radius: 6px;
  font-size: 12px;
  padding: 5px;
}
button:hover {
  color: #ecfcff;
  border: solid 1px #547884;
  background-color: #10232B;
}
button:focus {
  outline: 1px solid #10232B;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22file:///C:/Users/Victor/source/repos/ISPAdressChecker/ISPAdressCheckerStatusDashboard/wwwroot/scss/bootstrap-overrides/_bootstrap-overrides.scss%22,%22file:///C:/Users/Victor/source/repos/ISPAdressChecker/ISPAdressCheckerStatusDashboard/wwwroot/scss/layout/_main-layout.scss%22,%22file:///C:/Users/Victor/source/repos/ISPAdressChecker/ISPAdressCheckerStatusDashboard/wwwroot/scss/partials/_variables.scss%22,%22file:///C:/Users/Victor/source/repos/ISPAdressChecker/ISPAdressCheckerStatusDashboard/wwwroot/scss/components/_health-indicator.scss%22,%22file:///C:/Users/Victor/source/repos/ISPAdressChecker/ISPAdressCheckerStatusDashboard/wwwroot/scss/components/_linear-gauge.scss%22,%22file:///C:/Users/Victor/source/repos/ISPAdressChecker/ISPAdressCheckerStatusDashboard/wwwroot/scss/components/_InputText.scss%22,%22file:///C:/Users/Victor/source/repos/ISPAdressChecker/ISPAdressCheckerStatusDashboard/wwwroot/scss/components/_request-email.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAAC;AACD;AAAA;EAEI;;;ACHH;EACG,kBCCa;EDAb;;;AAGJ;EACI;EACA;;;AAGJ;EACI;EACA;AACJ;AAAA;;;AAIA;EACI;EACA;EACA;;;AAGJ;EACI;EACA;EACA;EACA;;;AAIJ;EACI;EACA;;;AAGJ;EACI;EACA;EACA;;;AAGJ;EACI;IACI;IACA;;;AE5CJ;EACI;EACA,kBDHS;ECIT,ODFS;ECGT;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;;AAGJ;EACI;EACA;EACA;EACA,ODtBM;;ACyBV;EACI;EACA;EACA;EACA,OD7BM;;ACgCV;EACI;EACA;EACA;EACA,ODpCM;ECqCN,aDjCE;;ACoCN;EACI;EACA;;AAGJ;EACI;EACA,OD/CM;ECgDN,aD5CE;;;AELb;EACG;EACA;EACA;EACA;EACA;;;AAGJ;EACI;EACA;EACA;EACA;EACA;;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA,OFvBc;;;AGDjB;AAAA;AAAA;AAAA;AAKD;EACI,OHNa;;AGQb;EACI;EACA;AACA;EACA;;;AAIR;EACI;EACA;;;AAGJ;EACI,OHrBc;;;AGwBlB;EACI,OHzBc;;;AG4BlB;EACI,OH7Bc;;;AGgClB;EACI,OHjCc;;;AIAd;EACI,aJKC;EIJD,OJFU;EIGV;EACA;EACA;;AAIJ;EACI,aJJC;EIKD,OJXU;EIYV;EACA;EACA;EACA;;;AAKR;EACI;;;AAGJ;EACI,OJzBc;EI0Bd;EACA;EACA;EACA;EACA;;AAEA;EACI,OJhCS;EIiCT;EACA,kBJpCS;;AIuCb;EACI%22%7D */