
<div class="log-section">
    <div class="log-message-board">
        <div class="message-board-title">ISP checker log message board</div>
        <div class="log-messages">



        </div>
    </div>
</div>

@code {

}
