@using ISPAdressCheckerStatusDashboard.Services.Interfaces;

@inject IRequestISPAddressService ispService;
@inject IStatusService statusService;
@inject ICounterService counterService;


@implements IDisposable

<div class="interactive-row-element col">
    <div class="align-items-center">

        @if (string.IsNullOrWhiteSpace(visitorIspAddress))
        {
            <div class="input-text-header-header">
                Host machine ISP address:
            </div>

            <div class="input-text-header">
                @statusService?.CurrentStatus?.CurrentISPAddress
            </div>

        }

        @if (!string.IsNullOrWhiteSpace(visitorIspAddress))
        {
            <div class="input-text-header-header">
                Your ISP address:
            </div>
            <div class="input-text-header">
                @visitorIspAddress
            </div>
        }

        <div class="email-adress-submit">
            <button @onclick="GetVisitorIspAddress">Get your ISP address</button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string HostISPAddress { get; set; }

    private string visitorIspAddress = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        statusService.OnChange += StateHasChanged;
        await base.OnInitializedAsync();
    }

    private async Task GetVisitorIspAddress()
    {
        string endpointURL = await ispService.GetCHeckISPAddressEndpointURLAsync();

        if (!string.IsNullOrEmpty(endpointURL))
        {
            counterService.AddDashboardISPAddressRequestCounter();
            var httpClient = new HttpClient();

            try
            {
                var response = await httpClient.GetAsync(endpointURL);
                if (response.IsSuccessStatusCode)
                {
                    visitorIspAddress = await response.Content.ReadAsStringAsync();
                }
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
            }
        }

        // ToDo: check why isp address request from dashboard button soes not show log entries

        await statusService.GetStatus();
    }

    public void Dispose()
    {
        statusService.OnChange -= StateHasChanged;
    }
}
