$primary-color: #10232B;
$secondary-color: #547884;
$tertiary-color: #ecfcff;

$warning-background-color: #FFAE00;
$warning-text-color: #A30008;

$warning-background-color: #E4A266;
$warning-text-color: #5A0000;


$warning-background-color: #FFAE00;
$warning-text-color: $tertiary-color;

$warning-background-color: #EB8C45;
$warning-text-color: #FFFFFF;


$request-division-color-1: red;
$request-division-color-2: darkgray;
$request-division-color-3: blue;

$font-comic-sans: 'Comic Sans MS';
$font-seg-ui: 'Segoe UI';
$yu-gothic-ui: 'Lucida Sans';
$tahoma: Tahoma;
$Magneto: Magneto;
$tw-cen-mt-condensed-extra-bold: 'Tw Cen MT Condensed Extra Bold';
$calibri: Calibri;


// Application font
$primary-font: $font-seg-ui;
$secondary-font: $tahoma;
$tertiary-font: $yu-gothic-ui;

$break-point: 1000px;

$clock-font: $tw-cen-mt-condensed-extra-bold;
