<div>
    <input type="text" class="input-field @validationCss" placeholder="@PlaceHolderText" @bind-value="@inputValue" />
</div>

@code {
    private string? inputValue;
    private string? validationCss;

    private bool componentLocalBool;

    [Parameter]
    public bool InputValid { get; set; }
    [Parameter]
    public bool ShowValidation { get; set; }

    [Parameter]
    public string? StringValue
    {
        get => inputValue;
        set
        {
            if (inputValue == value) return;
            value = inputValue;
            StringValueChanged.InvokeAsync(inputValue);
        }
    }
    [Parameter]
    [EditorRequired]
    public string? PlaceHolderText { get; set; }

    [Parameter]
    public EventCallback<string> StringValueChanged { get; set; }

    protected override void OnParametersSet()
    {
        if (ShowValidation)
        {
            validationCss = InputValid ? "text-valid" : "text-invalid";
        }
        else
        {
            validationCss = string.Empty;
        }
        base.OnParametersSet();
    }

}
