@using ISPAddressCheckerStatusDashboard.Services.Interfaces;
@using ISPAddressChecker.Helpers;

@inject IRequestISPAddressService ispService;
@inject IStatusService statusService;
@inject ICounterService counterService;


@implements IDisposable

<div class="interactive-row-element col">
    <div class="align-items-center">

        @if (string.IsNullOrWhiteSpace(visitorIspAddress))
        {
            <div class="input-text-header-header">
                Host machine ISP address:
            </div>

            <div class="input-text-header">
                @statusService?.CurrentStatus?.CurrentISPAddress
            </div>

        }

        @if (!string.IsNullOrWhiteSpace(visitorIspAddress))
        {
            <div class="input-text-header-header">
                Your ISP address:
            </div>
            <div class="input-text-header">
                @visitorIspAddress
            </div>
        }

        <div class="email-adress-submit">
            <button @onclick="GetVisitorIspAddress">Get your ISP address</button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string? HostISPAddress { get; set; }
    [Parameter]
    [EditorRequired]
    public EventCallback<ISPAddressChecker.Models.LogEntryModel> LogEntryCreated { get; set; }

    private string visitorIspAddress = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        statusService.OnChange += StateHasChanged;
        await base.OnInitializedAsync();
    }

    private async Task GetVisitorIspAddress()
    {
        ISPAddressChecker.Models.LogEntryModel newLogEntry = new();

        newLogEntry.LogType = ISPAddressChecker.Models.Enums.LogType.Information;
        newLogEntry.Service = $"Dashboard -> RequestISPAddress";
        newLogEntry.Message = $"ISP address requested";
        await LogEntryCreated.InvokeAsync(newLogEntry);

        string endpointURL = await ispService.GetCHeckISPAddressEndpointURLAsync();

        if (!string.IsNullOrEmpty(endpointURL))
        {
            counterService.AddDashboardISPAddressRequestCounter();
            var httpClient = new HttpClient();

            try
            {
                var response = await httpClient.GetAsync(endpointURL);
                if (response.IsSuccessStatusCode)
                {
                    visitorIspAddress = await response.Content.ReadAsStringAsync();

                    if (!string.IsNullOrWhiteSpace(visitorIspAddress))
                    {
                        newLogEntry.LogType = ISPAddressChecker.Models.Enums.LogType.Information;
                        newLogEntry.Service = $"Dashboard -> GetVisitorIspAddress";
                        newLogEntry.Message = $"ISP address returned {StringHelpers.MakeISPAddressLogReady(visitorIspAddress)}";
                        await LogEntryCreated.InvokeAsync(newLogEntry);
                    }
                    else
                    {
                        newLogEntry.LogType = ISPAddressChecker.Models.Enums.LogType.Error;
                        newLogEntry.Service = $"Dashboard -> GetVisitorIspAddress";
                        newLogEntry.Message = $"No ISP address returned";
                        await LogEntryCreated.InvokeAsync(newLogEntry);
                    }
                }
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
            }
        }

        await statusService.GetStatus();
    }

    public void Dispose()
    {
        statusService.OnChange -= StateHasChanged;
    }
}
