$primary-color: #10232B;
$secondary-color: #547884;
$tertiary-color: #ecfcff;
$quaternary-color: #27758F;
$quinary-color: #ffc107;
$senary-color: #17a2b8;
$septenary-color: #6610f2;
$octonary-color: #343a40;
$nonary-color: #6f42c1;
$denary-color: #f2fdff;

$warning-background-color: #EB8C45;
$warning-text-color: #FFFFFF;


$request-division-color-1: $primary-color;
$request-division-color-2: $secondary-color;
$request-division-color-3: $quaternary-color;

$font-comic-sans: 'Comic Sans MS';
$font-seg-ui: 'Segoe UI';
$yu-gothic-ui: 'Lucida Sans';
$font-Courier-New: 'Courier New';
$font-Helvetica: 'Helvetica';
$font-Lucida-Console: 'Lucida Console';
$font-Tahoma: 'Tahoma';
$font-DejaVu-Sans-Mono: 'DejaVu Sans Mono';
$font-Consolas: 'Consolas';

$tahoma: Tahoma;
$Magneto: Magneto;
$tw-cen-mt-condensed-extra-bold: 'Tw Cen MT Condensed Extra Bold';
$calibri: Calibri;



$console-font: $font-Courier-New;


// Application font
$primary-font: $font-seg-ui;
$secondary-font: $tahoma;
$tertiary-font: $yu-gothic-ui;

$break-point: 1000px;

$clock-font: $tw-cen-mt-condensed-extra-bold;
