.log-section {
    .message-board-title {
        color: $secondary-color;
        font-family: $primary-font;
        font-size: larger;
    }

    .log-message-board {
        background-color: $primary-color;
        height: 100%;
        border-radius: 10px;
        border: 1px solid $secondary-color;
    }

    .log-messages {
        height: 90%;
        border: 1px solid $tertiary-color;        
        margin: 0 10px 10px 10px;
    }
}
