body {
    background-color: $tertiary-color;
    margin:0;
}

.main-layout {
    height: 100%;
    width: 100%;
}

.interactive-row-element {
    padding: 50px;
    text-align:center;
/*    background-color:yellow;
    border:solid 1px red;*/
}

.stats-section {
    padding: 50px;
    background-color: red;
    border: solid 1px red;
}

.log-section {
    padding: 50px;
    background-color: green;
    border: solid 1px red;
    max-height: 25% !important;
}


.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex-basis: 33.33%;
    box-sizing: border-box;
    padding-top: 150px;
}

@media (max-width: 768px) {
    .col {
        padding-top: 20px;
        flex-basis: 100%;
    }
}
